@layer base {
  body {
    background-color: var(--ui-bg);
    color: var(--ui-text);
    font-weight: 400;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.2;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  small {
    font-size: 0.8em;
  }

  b,
  strong {
    font-weight: bolder;
  }

  abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
  }

  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  blockquote {
    margin: 0 0 1rem;
  }

  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
    list-style: none;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  figure {
    margin: 0 0 1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
