@layer base {
  input,
  button,
  textarea,
  select,
  optgroup {
    margin: 0;
    border: 0;
    background: transparent;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    text-align: inherit;
    text-transform: inherit;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    cursor: pointer;
  }

  button:disabled,
  [type='button']:disabled,
  [type='reset']:disabled,
  [type='submit']:disabled {
    cursor: default;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }

  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    height: auto;
  }

  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  label[for] {
    cursor: pointer;
  }
}
