@layer utilities {
  table {
    border-color: inherit;
    border-collapse: collapse;
  }

  th {
    vertical-align: top;
    padding: 0;
    font-weight: bold;
    text-align: left;
  }

  td {
    vertical-align: top;
    padding: 0;
  }

  hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    color: inherit;
  }

  img,
  svg,
  canvas,
  video,
  picture {
    display: block;
    vertical-align: middle;
    max-width: 100%;
  }
}
