:root {
  color-scheme: light dark;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

@import 'tailwindcss';
@import '@nuxt/ui';

@config '#layers/core/tailwind.config.js';

@import '#layers/core/app/assets/css/reset.css';
@import '#layers/core/app/assets/css/accessibility.css';
